h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#imgView {
  text-align: center;
}

#navigators {
  text-align: center;
}

#transcriptSection {
  text-align: center;
}
html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #e0f2f1;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #e0f2f1;
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
